torch==2.1.1
xformers==0.0.23
gradio==3.50
scipy==1.9.3
numpy
opencv-python
matplotlib
timm
pandas
pillow
scikit-learn
scikit-image
lpips
loguru
omegaconf
six
tqdm
albumentations
einops
imageio
awscli
scikit-learn
transformers>=4.49.0
torch>=2.6.0
accelerate>=1.4.0
tqdm
numpy>=2.2.3
h5py>=3.13.0 
ipykernel
ipywidgets
matplotlib
pandas
wandb
seaborn
pytest
jupyter
ipykernel
sphinx
sphinx-rtd-theme
nbsphinx
myst-parser
sphinx-gallery
nibabel
pytest-cov
pytest 
opencv-python
tifffile